@import '../../variables.scss';

.project-carousel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    .active-slide {
        background-color: $grey-100;
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .slides-container {
        grid-row-start: 3;
        grid-row-start: 4;
        grid-column-start: 1;
        grid-column-end: 5;
        display: flex;
        .slide {
            flex: 1;
            height: 100%;
            background-color: $grey-200;
        }
    }

    @media (min-width: 1px) and (max-width: $sm-breakpoint) {
        display: flex;
        flex-direction: column;
        height: auto;
        .active-slide {
            height: 500px;
        }
        .slides-container {
            height: 130px;
        }

        @media (min-width: 1px) and (max-width: $xs-breakpoint) {
            .active-slide {
                height: 300px;
            }
            .slides-container {
                height: 80px;
            }
        }
    }
}
