@import '../../../variables.scss';

.button-link {
    color: $brand-color;
    width: max-content;
    &::after {
        content: '';
        position: relative;
        bottom: 16px;
        left: 4px;
        padding: 4px 12px;
        height: 4px;
        border: none;
        font-size: 12px;
        display: flex;
        transition: background-color 0.3s transform 0.3s;
        cursor: pointer;
        display: flex;
        align-items: center;
        background-color: rgba($brand-color, 0.05);
    }

    &:hover {
        &::after {
            background-color: rgba($brand-color, 0.1);
        }
    }
    .link-content {
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 8px;
        margin: 0;
        margin: auto;
        i {
            font-size: 20px;
        }
    }
    &:active {
        transform: scale(0.96);
    }
}
