@import '../../variables.scss';

.project {
    max-width: 800px;
    width: 100%;
    min-height: 500px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // box-sizing: border-box;
    // -moz-box-sizing: border-box;
    // -webkit-box-sizing: border-box;
    // border: solid 2px $brand-color;

    .project-details {
        padding: 20px;
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 8px;
        background-color: #fbfbfb;
        .title {
            font-size: 32px;
            margin: 0;
        }
        .description,
        .li-details {
            font-size: 16px;
            color: $grey-800;
        }
        #links-section {
            display: flex;
            flex-direction: column;
        }
        h3,
        p {
            margin: 0;
        }
        .stack-list {
            margin: 0;
            padding: 0;
            li {
                display: flex;
                align-items: center;
                gap: 8px;
                .stack-logo {
                    width: 20px;
                    height: 20px;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                list-style: none;
            }
        }
    }

    #menu-button {
        position: absolute;
        z-index: 2;
    }
    #link-button {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav-buttons-container {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    @media (min-width: 1px) and (max-width: $sm-breakpoint) {
        flex-direction: column;
        display: flex;
        height: auto;
        .project-details {
            height: auto;
        }
    }
}
