@import '../../variables.scss';

.projects-grid {
    display: grid;
    max-width: 800px;
    width: 100%;
    height: 500px;
    margin: auto;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    @media (min-width: $xs-breakpoint) and (max-width: $sm-breakpoint) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: unset;
        height: auto;
    }

    @media (min-width: 1px) and (max-width: $xs-breakpoint) {
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: unset;
    }
}
