@import '../../../variables.scss';

.button {
    padding: 4px 12px;
    height: 46px;
    border: none;
    font-size: 20px;
    display: flex;
    transition: background-color 0.3s transform 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;

    .button-content {
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 8px;
        margin: 0;
        margin: auto;
        i {
            font-size: 30px;
        }
    }

    &.small {
        padding: 2px 8px;
        height: 28px;
        border: none;
        font-size: 12px;
        .button-content {
            gap: 4px;
            i {
                font-size: 16px;
            }
        }
    }

    &:focus {
        outline-style: solid;
        outline-width: 2px;
        outline-color: $outline-color;
        outline-offset: 1px;
    }

    &:active:not(:disabled) {
        transform: scale(0.96);
    }

    &.primary {
        background-color: $brand-color;
        color: white;

        &.outlined {
            background-color: transparent;
            border: $brand-color solid 2px;
            color: $brand-color;

            &:hover {
                color: mix(black, $brand-color, 10%);
                border-color: mix(black, $brand-color, 10%);
                background-color: mix(white, $brand-color, 80%);
            }
        }

        &:not(.outlined) {
            &:hover {
                background-color: mix(black, $brand-color, 10%);
            }
        }
    }

    &.secondary {
        background-color: $grey-800;
        color: white;

        &.outlined {
            background-color: transparent;
            border: $grey-800 solid 2px;
            color: $grey-800;

            &:hover {
                color: mix(black, $grey-800, 100%);
                border-color: mix(black, $grey-800, 100%);
                background-color: mix(white, $grey-800, 80%);
            }
        }

        &:not(.outlined) {
            &:hover {
                background-color: mix(black, $grey-800, 100%);
            }
        }
    }

    &.success {
        // success button style
    }

    &.warning {
        // warning button style
    }

    &.danger {
        // danger button style
    }

    &:disabled {
        background-color: $grey-200;
        cursor: not-allowed;
        &:hover {
            background-color: $grey-300;
        }
    }
}
