@import '../../../variables.scss';

.nav-button {
    width: 40px;
    height: 40px;
    background-color: $brand-color;
    color: white;
    display: flex;
    align-items: center;
    transition: 0.3s background-color, 0.3s color, 0.3s --p-border;

    &.outlined {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: solid 2px $brand-color;
        background-color: white;
        color: $brand-color;

        &:hover {
            background-color: lighten($brand-color, 20%);
            border-color: lighten($brand-color, 20%);
            color: white;
        }
    }
    &:hover {
        background-color: lighten($brand-color, 20%);
        border-color: lighten($brand-color, 20%);
        color: white;
    }

    .menu-icon {
        display: grid;
        flex-wrap: wrap;
        margin: auto;
        gap: 3px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        .square {
            height: 8px;
            width: 8px;
            background-color: white;
            justify-items: center;
            align-items: center;
            transition: 0.3s height, 0.3s width;
        }
    }
    i {
        margin: auto;
        font-size: 20px;
        transition: 0.3s font-size;
    }

    &:active {
        i {
            font-size: 16px;
        }
        .menu-icon {
            .square {
                height: 7px;
                width: 7px;
            }
        }
    }
}
