@import '../../variables.scss';

.about-me {
    position: fixed;
    background-color: white;
    max-width: 800px;
    width: calc(100% - 30px * 2);
    min-height: 300px;
    z-index: 5;
    left: 50%;
    margin-left: -400px;
    animation-name: slidein;
    animation-duration: 0.5s;
    z-index: 10;

    .nav-button {
        left: -40px;
        position: absolute;
    }

    &.hide {
        animation-name: slideout;
    }

    .content {
        width: 100%;
        display: flex;

        .about-me-picture {
            width: 300px;
            min-height: 300px;
            background-image: url('/images/about-me/koum.jpg');
            background-size: 150%;
            background-position: -60px -60px;
        }
        .description {
            flex: 1;
            padding: 10px 30px;
            h1 {
                font-size: 24px;
                margin-top: 0;
                margin-bottom: 12px;
            }
            p {
                margin: 0;
            }
            .button {
                margin-top: 8px;
            }
        }

        .buttons-container {
            display: flex;
            gap: 8px;
            margin-top: 12px;
        }
    }

    @media (min-width: 1px) and (max-width: 900px) {
        margin-left: calc(-50% + 30px);

        @media (min-width: 1px) and (max-width: 700px) {
            max-width: 400px;
            margin-left: calc(-200px);
            //top: 20px;

            .content {
                flex-direction: column;
                width: 100%;

                .about-me-picture {
                    width: 100%;
                    height: 200px;
                    min-height: unset;
                    background-position: 0px -70px;
                    background-size: cover;
                }
                .description {
                    padding: 10px 20px;
                    h1 {
                        font-size: 20px;
                    }
                    .about-me-text {
                        font-size: 14px;
                    }
                }
            }
        }

        @media (min-width: 1px) and (max-width: $xs-breakpoint) {
            margin-left: calc(-50% + 30px);
            width: calc(100% - 30px * 2);
        }
    }
}

.about-me-bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.257);
    z-index: 5;
}

@keyframes slidein {
    0% {
        left: calc(100% + 400px);
    }

    100% {
        left: 50%;
    }
}

@keyframes slideout {
    0% {
        left: 50%;
    }

    100% {
        //@media (min-width: 700px) and (max-width: 4000px) {
        left: calc(100% + 400px);
        border: solid green 2px;
        //}
        @media (min-width: 1px) and (max-width: 700px) {
            //left: 200px;
            border: solid pink 2px;
        }
    }
}
