.about-me {
    position: fixed;
    background-color: grey;
    width: 800px;
    height: 500px;
    z-index: 5;
    left: 50%;
    margin-left: -400px;
    animation-name: slidein;
    animation-duration: 0.5s;

    .nav-button {
        right: 40px;
        position: relative;
    }

    &.hide {
        animation-name: slideout;
    }
}

@keyframes slidein {
    0% {
        left: calc(100% + 400px);
    }

    100% {
        left: 50%;
    }
}

@keyframes slideout {
    0% {
        left: 50%;
    }

    100% {
        left: calc(100% + 400px);
    }
}
